<div class="container">
  <h2 class="text-center mt-4">Privacy Policy</h2>

  <p>
    This Privacy Policy outlines how <%= link_to "Remind", root_path %>
    collects, uses, and discloses information received from you through Short
    Message Service (SMS) messaging.
  </p>

  <h3>Information Collection</h3>
  <p>
    We may collect information such as your phone number when you initiate an
    SMS conversation with us.
  </p>

  <h3>Use of Information</h3>
  <p>We use your information for the following purposes:</p>
  <ul>
    <li>Responding to your inquiries and providing customer support.</li>
    <li>Processing orders and fulfilling your requests.</li>
    <li>
      Sending you relevant updates and notifications related to your
      interactions with us.
    </li>
  </ul>

  <h3>Data Sharing</h3>
  <p>
    We do not share your mobile phone number with unaffiliated third parties for
    marketing purposes.
  </p>
  <p>
    Mobile information will not be shared with third parties/affiliates for
    marketing/promotional purposes. All the above categories exclude text
    messaging originator opt-in data and consent; this information will not be
    shared with any third parties.
  </p>

  <h3>Opt-Out</h3>
  <p>
    To stop receiving SMS messages from us, simply reply with the word "STOP" to
    any message you receive.
  </p>

  <h3>Support</h3>
  <p>
    For help or support regarding our SMS messaging service, reply with the word
    "HELP" to any message you receive.
  </p>

  <h3>Changes to this Policy</h3>
  <p>
    This Privacy Policy is subject to change. Please review this policy
    periodically for updates.
  </p>
</div>
